---
Checks: '*,
    -fuchsia-*,
    -google-*,
    -zircon-*,
    -abseil-*,
    -llvm*,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -hicpp-explicit-conversions,
    -hicpp-uppercase-literal-suffix,
    -hicpp-signed-bitwise,
    -misc-non-private-member-variables-in-classes,
    -modernize-use-trailing-return-type,
    -readability-magic-numbers,
    -readability-uppercase-literal-suffix,
    -readability-implicit-bool-conversion,
    -readability-isolate-declaration,
    -bugprone-exception-escape'

WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none
